.page-body{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(186, 213, 213);
}
.head{
    width: 100%;
    height: 10%;
    background-color: aqua;
}
.content{
    display: flex;
    justify-content: space-between;
}
.side-bar{
    width: 10%;
    height: 100dvh;
    background-color: burlywood;
}
.footer{
    width: 100%;
    height: 10%;
    background-color: black;
}